 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 611px);
  left: 0;
  right: auto;
}

.u-section-1 .u-image-1 {
  width: 661px;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  margin: 19px 160px 0 calc(((100% - 1140px) / 2) + 804px);
}

.u-section-1 .u-form-1 {
  width: 481px;
  margin-left: calc(((100% - 1140px) / 2) + 676px);
  margin-top: 99px;
  margin-bottom: 0;
  height: 181px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 29px calc(((100% - 1140px) / 2) + 101px) 60px auto;
  padding: 0 53px 0 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 570px;
  }

  .u-section-1 .u-image-1 {
    width: 570px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-right: 125px;
    margin-left: calc(((100% - 940px) / 2) + 639px);
  }

  .u-section-1 .u-form-1 {
    width: 376px;
    margin-left: calc(((100% - 940px) / 2) + 564px);
    margin-top: 76px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 35px;
    margin-right: calc(((100% - 940px) / 2) + 65px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 695px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 395px);
  }

  .u-section-1 .u-image-1 {
    width: 387px;
    left: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-right: 84px;
    margin-left: calc(((100% - 720px) / 2) + 459px);
  }

  .u-section-1 .u-form-1 {
    width: 326px;
    margin-left: calc(((100% - 720px) / 2) + 410px);
    margin-top: 35px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-right: calc(((100% - 720px) / 2) + 25px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-shape-1 {
    height: 176px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-image-1 {
    width: 237px;
    height: 176px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -176px auto 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-right: auto;
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 565px;
  }

  .u-section-1 .u-image-1 {
    width: 263px;
  }

  .u-section-1 .u-text-1 {
    width: 299px;
    margin-top: 14px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-top: 14px;
    margin-bottom: 50px;
  }
}