#cabecalho {
  background-color: #223266;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between; /* Distribui as divs horizontalmente */
  align-items: center;
  text-align: center;
}

#cabecalho-esquerda,
#cabecalho-central,
#cabecalho-direita {
  width: 30%;
}

#cabecalho-direita {
  display: flex;
  justify-content: flex-end; /* Alinha os botões à direita na div direita */
  align-items: center;
}

.botoes-superior-direito a {
  margin-bottom: 130px;
  margin-right: 0px;
  background-color: #223266;
  border-color: transparent;
  text-decoration: none; /* Remover sublinhado padrão de links */
  color: #fff; /* Cor do texto branca para contrastar com o fundo */
  padding: 8px 8px; /* Adicionar preenchimento aos links para melhor aparência */
  border-radius: 5px; /* Adicionar bordas curvadas */
  display: inline-block; /* Certificar-se de que o link se comporte como um bloco */
}


#senha_troca_logo{
  width: 40px;
  height: 40px;
}

#logout_logo{
  width: 40px;
  height: 40px;
}

#logo-top-tabela {
  width: 100%; /* Para ocupar 100% da largura da div */
}

#central-container {
  width: 100%;
  height: 200px;
  position: relative;
}

/* Estilo para o botão "Novo" */
#central-container a:nth-child(1) {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 10px;
  background-color: #223266; /* Cor de fundo azul */
  border: 2px solid #223266; /* Borda azul */
  border-radius: 10px; /* Bordas curvadas */
  padding: 10px 20px; /* Espaçamento interno dos botões */
  color: #fff; /* Cor do texto branca */
  text-decoration: none; /* Remover sublinhado do link */
}

/* Estilo para o botão "Relatório" */
.btn-relatorio {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 10px;
  background-color: #223266; /* Cor de fundo azul */
  border: 2px solid #223266; /* Borda azul */
  border-radius: 10px; /* Bordas curvadas */
  padding: 10px 20px; /* Espaçamento interno dos botões */
  color: #fff; /* Cor do texto branca */
  text-decoration: none; /* Remover sublinhado do link */
}

.tabela-container {
  margin: 20px; /* Adicione o espaçamento desejado entre a tabela e as bordas da tela */
}

table {
  border-collapse: collapse; /* Para mesclar as bordas das células */
  width: 100%; /* A largura desejada da tabela */
  border-radius: 10px;
  border: 3px solid #223266; 
}

table th, table td {
  padding: 8px; /* Espaçamento interno nas células */
  text-align: center; /* Alinhar o texto ao centro nas células */
  border: 1px solid #223266; 
}

table th {
  color: rgb(255, 255, 255);
  background-color: #223266; 
}

table td {
  border: 1px solid #ccc; 
  border-bottom: 1px solid #223266;
}
